* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

.container{
    background: #f4f4fb;
    min-height: 100vh;
    padding: 15% 0;
}

.container img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.container h1 {
    font-weight: bold;
}

.container p {
    margin-top: 5px;
    font-weight: 300;
}

.container ul {
    margin-top: 10px;
    border-radius: 50%;
}

.container ul li {
    display: inline;
    margin: 3px;
}

.container ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.container .icon {
    font-size: 1.5rem;
    margin: 10px;
}

.container .icon a {
    margin: 5px;
    color: black;
}

.container hr {
    width: 50%;
    margin: 10px;
}

.desc li {
    display: block;
}